.form-width {
    max-width: 500px;
}

.form-floating > label::after {
    background-color: transparent;
}

input.ng-invalid.ng-touched {
    border-color: red;
}

.error-block {
    color: red;
}