<div class="card mt-5 mx-auto form-width" *ngIf="token.length == 0 && !resetSubmitted">
    <div class="card-body">
        <form [formGroup]="resetPasswordForm" (submit)="onResetSubmit()">
            <legend>Сбросить пароль</legend>
            <div class="mb-3 form-floating">
                <input type="email" class="form-control" id="email" placeholder="Адрес электронной почты" formControlName="email" maxlength="30">
                <label for="email">Адрес электронной почты</label>
                <span *ngIf="!email.valid && email.touched" class="error-block">
                    <span *ngIf="email.hasError('required')">Введите адрес электронной почты</span>
                    <span *ngIf="email.hasError('email')">Введён некорректный адрес</span>
                </span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary async-disable" [disabled]="!resetPasswordForm.valid">Отправить</button>
            </div>
        </form>
    </div>
</div>

<div class="card select-task-message mx-auto" *ngIf="resetSubmitted">
    <div class="card-body">Ссылка для сброса пароля была отправлена на вашу почту</div>
</div>

<div class="card mt-5 mx-auto form-width" *ngIf="token.length > 0">
    <div class="card-body">
        <form [formGroup]="newPasswordForm" (submit)="onNewPasswordSubmit()">
            <legend>Новый пароль</legend>
            <div class="mb-3 form-floating">
                <input type="password" class="form-control" id="password" placeholder="Пароль" formControlName="password" maxlength="15">
                <label for="password">Введите новый пароль</label>
                <span *ngIf="!password.valid && password.touched" class="error-block">
                    <span *ngIf="password.hasError('required')">Введите пароль</span>
                    <span *ngIf="password.hasError('minlength')">Пароль слишком короткий</span>
                </span>
            </div>
            <div class="mb-3 form-floating">
                <input type="password" class="form-control" id="confirmPassword" placeholder="Пароль" formControlName="confirmPassword" maxlength="15" (input)="matchPassword()">
                <label for="confirmPassword">Повторите пароль</label>
                <span *ngIf="!confirmPassword.valid && confirmPassword.touched" class="error-block">
                    <span *ngIf="confirmPassword.hasError('required')">Введите пароль повторно</span>
                    <span *ngIf="confirmPassword.hasError('notmatched')">Пароль не совпадает</span>
                </span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary async-disable" [disabled]="!newPasswordForm.valid">Подтвердить</button>
            </div>
        </form>
    </div>
</div>